In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

Q.1. Given a normal distribution with mean as 50 and deviation as 10, answer below questions
(X ~ N(5O, 10) ):

a. what are the values of the mean and standard deviation? 

b. What value of x has a z-score of 1.4? 

c. What is the Z-score that corresponds to x = 30? 

d. What is the difference between positive and negative z values?

In [1]:
u = 50
sigma = 10

z = 1.4

x = z * sigma + u
print(x)

z = (30 - u) / sigma
print(z)

64.0
-2.0

Q.2:The average test score in a certain statistics class was 74 with a standard deviation of 8. There are 2000 students in this class. Use the emperical rule to answer the following questions:
(a) What percentage of students scored less than 58? 
(b) What is the probability that a student score between 66 and 82 on the exam? 
(c) How many students scored at most 90? 
(d) What percentage of students scored at least 66? 
(e) How many students scored more than 98 on the test?

In [7]:
mean = 74 
std = 8
n = 2000

# for question a

z_score1 = (58 - 74) / 8

Z_value1 = 0.228

print(Z_value1)

## for the emperical roul it said that total data lay between 68, 95, 99.7 so as per that if we see that mean is 74 so it would be in center
# now if we go one std away from taht it would be 74 +- 8 which mean it would be between 66 and 82. if we will go two std away then it would be
# 74 +- 2(8) which is 58 and 90. As 58 is two std away and as per the emperical roul there is 95% data which reamin inside two std and 5 % data
# out side. So there are 5% data which is outside 58 and 90. As per the normal distribution this is a symetrical  shape and all the data is in 
# symetrical way so data is less then 58 would be 5/2 and data more than 90 would be 5/2. So 2.5 percent student will be outside of the 2.5%.

# for question b

z_scoreb1 = (66-74) / 8
z_scoreb2 = (82 - 74) / 8

z_valb1 = 0.1587
z_valb2 = 0.8413

dif = 0.8413 - 0.1587

print(dif)

# as the given range lay between 1 std from the mean which means 68% changes of getting mark between that .

# for question 3

# as per the emperical roule only 95% student score less or equal to 90. so number of student will be 1900

0.228
0.6826000000000001

Q-3: Normally distributed IQ scores have a mean of 100 and a standard deviation of 15. Use the standard z-table to answer the following questions:
What is the probability of randomly selecting someone with an IQ score that is

(a) less than 80? 
(b) greater than 136? 
(c) between 95 and 110?
(d) What IQ score corresponds to the 90th percentile? 
(e) The middle 30% of IQs fall between what two values?

In [ ]:
mean = 100
std = 15

# Central Limit Theorim


1. A company claims that their email marketing campaign has a 15% click-through rate. If you randomly select 100 people to receive the email, what is the probability that exactly 20 will click through to the website?

2. A researcher is investigating whether a new medication improves patient outcomes. The medication has a success rate of 75%. If the researcher enrolls 50 patients in the study, what is the probability that fewer than 35 will have a positive outcome?

3. A website offers a premium subscription service with a 20% sign-up rate. If you randomly select 500 visitors to the website, what is the probability that between 90 and 110 will sign up for the premium service?

4. A school district is investigating the effectiveness of a new reading program. The program has a success rate of 70%. If the district enrolls 200 students in the program, what is the probability that more than 140 will show significant improvement in reading skills?


5. A factory produces electronic components with a defect rate of 5%. If a shipment of 200 components is sent out, what is the probability that fewer than 10 will be defective?

6. A survey shows that 70% of people prefer chocolate ice cream over vanilla ice cream. If you randomly survey one person, what is the probability that they prefer vanilla ice cream?


7. A software company releases a new product with a bug rate of 2%. If 10,000 copies of the product are sold, what is the probability that at least 250 will have a bug?

8. According to data from the National Center for Health Statistics (NCHS), the average height for adult men aged 20 years and over in the United States is approximately 69.2 inches with a standard deviation of approximately 2.9 inches. If you randomly select a sample of 50 adult men aged 20 years and over, what is the probability that the sample mean height is greater than 70 inches?


Central Limit Theorem:
9. A company claims that the average salary of its employees is 75,000 with a standard deviation of 10,000. If you randomly select 100 employees, what is the probability that the sample mean salary is less than 72,500?

10. A restaurant claims that the average wait time for a table is 15 minutes with a standard deviation of 3 minutes. If you randomly survey 50 customers, what is the probability that the sample mean wait time is greater than 16 minutes?
Bernoulli Distribution:

In [5]:
n = 100
p = 0.15
k = 20

pmf = stats.binom.pmf(k,n,p)
pmf * 100

np.float64(4.022449066141772)

In [8]:
p = 0.75
n = 50
k = 34

cdf = stats.binom.cdf(k,n,p) * 100
round(cdf,2)

np.float64(16.31)

In [10]:
p = 0.20
n = 500
k1 = 89
k2 = 110

cdf1 = stats.binom.cdf(k1,n,p) * 100
cdf2 = stats.binom.cdf(k2,n,p) * 100
cdf = cdf2 - cdf1
round(cdf, 2)

np.float64(75.97)

In [13]:
p = 0.7
n = 200
k = 140

cdf = stats.binom.cdf(k,n,p) * 100

cdf_ = 100 - cdf

cdf_

np.float64(47.33474593659296)

In [14]:
p = 0.05
n = 200
k = 10

cdf = stats.binom.cdf(k,n,p) * 100
cdf

np.float64(58.30671820811722)

In [16]:
p = 0.7

p_vanilla = 1 - p

# Confidence Interval

`Question: 1` A company wants to estimate the average time spent by customers on their website per session. They collect a random sample of 100 customers and find that the sample mean time spent is 4.5 minutes with a sample standard deviation of 1.2 minutes. Calculate a 99% confidence interval for the true population mean time spent on the website per session.


`Question 2:` A car manufacturer is interested in estimating the mean gas mileage of their new SUV. A sample of 25 SUVs is taken, and their mean gas mileage is found to be 28.6 miles per gallon with a standard deviation of 2.8 miles per gallon. Calculate a 95% confidence interval for the true mean gas mileage of the SUV.

`Question -3:` Dataset - India temperature dataset.

Data link: https://drive.google.com/file/d/1whb8Rjdk9TBKOwVi8NwZD1Tc8Tdv7iEc/view?usp=share_link

Kaggle Link : (Just take IND data for this question, have to apply filtering). https://www.kaggle.com/datasets/berkeleyearth/climate-change-earth-surface-temperature-data

A climate research organization wants to estimate the average temperature of a certain country. They collect temperature data for 2613 days but due to certain limitations, they only have information about the average temperature for 2508 days. The organization assumes that the population follows a normal distribution and wants to estimate the population mean temperature with a 95% confidence interval.

* Standard deviation is assumed as given data standard deviation. z Procedure
* Standard deviation is not given. Apply t Procedure

`Question 5:` BMW Dataset : https://drive.google.com/file/d/18amVv1WKKHEmwyvVy0RuXp4A6xrGOelc/view?usp=share_link

* Task 1:
The sales manager of a used car company wants to know what is the average selling price of all the used bmw cars.
The analyst can collect only a sample of sales of 500 cars in the area. Since this estimate is going to be used by the company to strategize sales of his company, the sample mean should be a good approximation of all the account.
What level of confidence is the sales manager going to be satisfied with? What +/- interval number is going to be acceptable?

* Task 2:
In addition to the price of the car, the manager also wants to now know the average mileage that the car has been driven. But the manager does not have the population standard deviation for the mileage. But the mileage data is available only from the 25 cars that they have sold so far.
How do the analyst approach this problem to calculate 95% confidence interval, with only 25 samples?

* Task 3:
The manager is not happy with both the intervals (intervals from task 1 and 2) as the interval for the confidence is very high. The manager now asks the analyst to estimate the average price of the car (similar to task 1) but within a bound of 750 from the mean with 95% condidence level. How many sample does the analyst have to collect to arrive at this confidence interval level?

* Task 4:
Conversely, after the analyst started collecting the data, after a week he was only able to collect for 420 samples, though he needs 540 samples for Bound of 1,000, if he has to do the analysis now, what is the best interval he can acheive for 95% confidence levels?

In [6]:
sample_size = 100
sample_mean = 4.5
sample_std = 1.2
confidence_interval = 5

mean = sample_mean + 0.69146 * ( sample_std / np.sqrt(sample_size))
mean

np.float64(4.5829752)

In [7]:
sample_size = 25
sample_mean = 28.6
sample_std = 2.8
confidence_interval = 99

mean = sample_mean + 0.69146 * ( sample_std / np.sqrt(sample_size))
mean

np.float64(28.9872176)

In [10]:
data = pd.read_csv('ind_temp.csv')
data.head()

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1796-01-01              17.044                          2.044   India
1  1796-02-01              19.193                          1.359   India
2  1796-03-01              22.319                          2.125   India
3  1796-04-01              27.233                          1.510   India
4  1796-05-01              30.035                          1.338   India

In [ ]:
population_number = 2613
sample_number = 2508
alpha = 5

confidence_interval =